

#exampleTextarea{
    resize: none;
    background-color: #f8f8f8;
    font-size: 1.78rem;
    font-weight: bold;
}

#memory--wrap, #binary-wrap{
    width: 100%;
    height: 880px;
}

.label--wrap{
    display: flex;
    flex-direction: row;
}

.label--item{
    background-color: white;
    cursor: pointer;
    border: 1px solid #e1e1e1;
}


.label--item.active{
    background-color: #e1e1e1;
    padding: .5rem 1rem !important;
}

.label--item:not(.active):hover{
    background-color: #f5f5f5;
}



.wrap--left{
    background-color: #e1e1e1;
}

.left--part{
    display: none;
}

.left--part.active{
    display: block;
}

.wrap--btn-left{
    display: flex;
    align-items: center;    
}
.wrap--btn-add{
    border-top: 1px solid #999;
}
#sendAssem:active{
    background-color: #ddd;
    color: #111;
}

.inp--file{
    align-items: center;
    display: flex;
}

/* ////////////////////righy pdp/////////////////////////////// */



#right--pdp{
    padding: 1.3rem 1rem;
    display: flex;
    flex-direction: column;
    color: #999;
}
.pdp--wrapper{
    background-color: #222;
    height: 30.3rem;
    position: relative;
    
}
.registers--wrapper{
    background-color: #555;
}

.registers--wrapper label{
    color: #b1b1b1;
    font-weight: 900;
}

.label-wrap-flag{
    display: flex;
    justify-content: space-between;
    padding-left: 2.3rem !important;
    padding-right: 5rem !important;
}

.inp-wrap-int{
    display: flex;
    padding: .2rem 0 !important;
    padding-right: 3rem !important;
    justify-content: end;
    height: 4.5rem !important;
}

.input--label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xxx-large  !important;
    width: 7.7rem;
    text-align: center;
    font-weight: bold;
}

.inp-inp{
    font-size: xxx-large  !important;
    width: 7.7rem;
    text-align: center;
    font-weight: bold;
}

.reg--box{
    height: 4.5rem;
}


.ac--box{
    background-color: darkseagreen;
}
.e--box{
    background-color: darkseagreen;
}
.pc--box{
    background-color: darkseagreen;
}
.inp--box{
    background-color: darkseagreen;
}
.out--box{
    background-color: darkseagreen;
}

.nibble-box, .e-inner-box, .oct-box, .dec-box{
    background-color:  #0561154a;
    height: 3.5rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold !important;
}


.box-wrap-base{
    display: none !important;
}


.box-wrap-base.active{
    display: flex !important;
}



/* bottom pdp */


.bottom-pdp-part{
    padding: .5rem;
    height: max-content;
    background-color: gray;
    position: absolute;
    bottom: 0;
}
.bottom-pdp-part>div{
    background-color: #222;
    display: flex;
}

.switch--wrapper{
    display: flex;
    border-left: .5rem solid gray;
    padding: .5rem 0;
}

.switch{
    width: 2.5rem;
    height: 5rem;
    margin: 0 .15rem;
    box-shadow: 1px 2px 2px #444;
    cursor: pointer;
    animation: switchUnact .5s ease 0s 1 normal forwards;
}
.red-c-switch{
    background-color: red;
}
.wight-c-swith{ background-color: white;}


.switch.active{
    animation: switchAct .5s ease 0s 1 normal forwards;
}

@keyframes switchAct {
	0% {
		transform: translateY(.5rem);
        opacity: 30%;
	}

	100% {
        transform: translateY(-.1rem);
        opacity: 80%;
	}
}

@keyframes switchUnact {
	0% {
		transform: translateY(-.1rem);
        opacity: 80%;
	}

	100% {
        transform: translateY(.5rem);
        opacity: 30%;
	}
}



.power-btn-wrap{
    width: 100%;
    height: 100%;
}



/* top part of pdp/////////////////// */


.top--logo{
    height: 2rem;
    margin: .5rem 0 ;
    background-color: darkgoldenrod;
}
.middle--lights{
    /* background-color: aquamarine; */
    height: max-content;
    margin: 0 !important;
}
.line-of-light{
    display: flex;
    background-color: #333;
    flex-direction: row-reverse;
}
.light--part-wrap{
    border: 1px solid #111;
    padding: .05rem .5rem;
}

.top-light-line{
    height: .3rem;
    width: 100%;
    background-color: #b2b2b2;
    margin: .2rem 0; 
}

.light--part-wrap.link-e{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.light--part-wrap.link-e .top-light-line{
    width: 1.2rem;
}

.light--part-wrap.link-e .light-part{
    justify-content: end;
}

.light--part-wrap.step-count{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.light--part-wrap.step-count .top-light-line{
    width: 3.8rem;
}

.light--part-wrap.step-count .light-part span{ 
    margin: 0 .5rem;
}

.light-part{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.light-part span{
    border-radius: 50%;
    background-color: #555;
    width: 1.7rem;
    display: inline-block;
    aspect-ratio: 1;
}


.wrap-peaces{
    margin: 0.3rem;
}

.right-mid-peace-wrap{
    display: flex;
}

.right-mid-peace-wrap > div{
    display: flex;
    gap: .5rem;
}
 

.el-peace{
    height: .5rem;
    flex-grow: 3;
    background-color: chartreuse;
}



.lef-peace{
    flex-grow: 1;
    height: .5rem;
    background-color: deeppink;
}


.wrapp-top-label{
    display: flex;
    margin: 0;
    gap: .75rem;
}

.wrapp-top-label >div{
    text-align: center;
    display: flex;
    align-items: end;
}

.right--box-wrap{
    height: 14.5rem;
    border: 3px solid #888;
    font-size: small;
    font-weight: 900;
}

.right--box-wrap > div {
    display: flex;
    justify-content: space-between;
}

.right--box-wrap div > span{
    width: .7rem;
    height: .7rem;
    display: inline-block;
    background-color: #555;
}


.active-light{
    background-color: yellow !important;
}

#power{
    border-radius: 15%;
    background-color: #888;
    color: #222;
    display: flex;
    margin: .5rem;
    padding: .5rem 0;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
#pannel-lock{
    border-radius: 15%;
    background-color: #888;
    color: #222;
    display: flex;
    margin: .5rem;
    padding: .5rem 0;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#power.active, #pannel-lock.active{
    background-color: #f5f5f5;
}


/*/////////////////// memory part /////////////// */

#memory--wrap{
    display: none;
}
#memory--wrap.active{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .instructions-wrap{} */

/* .instructions-wrappper{} */


.mem-btn-wrap{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #999;
    padding-top: .5rem;
}


.instruction{
    display: flex;
    background-color: #f5f5f5;
    padding: .3rem .5rem;
    margin: .2rem 0;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.address-part{
    padding: 0rem .5rem;
    background-color: white;
    box-shadow: 1px 1px 5px #999;
    border-radius: .4rem;
    margin-right: 1rem;
}
.data-part{
    background-color: wheat;
    padding: 0 .5rem;
    margin-right: .7rem;
    box-shadow: 1px 1px 5px #e1e1e1;
}
.inst-part{
    display: flex;
    /* background-color: white; */
    box-shadow: 1px 1px 5px #e1e1e1;
    padding: 0 .5rem;
    flex-direction: row-reverse;
}

.inst-name{
    padding: 0 .5rem;
}
.address2-name{
    padding: 0 .5rem;
}
.dir-name{
    padding: 0 .5rem;
}

.label-mem-wrap{
    display: flex;
    padding: 0 .5rem 0 0;
    font-size: small;
}

.label-mem-wrap .data-part{
    margin: 0 2.5rem 0 .5rem;
}

.instruction.active{
    box-shadow: 2px 1px 10px #0af641;
    border: 2px solid #0af641;
}

.instruction:hover{
    box-shadow: 2px 2px 15px #999;
    transform: scale(1.05);
}

.instruction.active:hover{
    box-shadow: 2px 1px 10px #0f9d30;
}



.current-btn{
    flex-grow: 1;
    margin-right: .5rem;
}
.up-btn{
    flex-grow: 1;
    margin-right: .5rem;
}
.down-btn{
    flex-grow: 1;
    margin-right: .5rem;
}
.jump-btn{
    flex-grow: 1;
    margin-right: .5rem;
}


.address-inp{
    font-weight: bold;
    text-align: center;
    width: 6rem !important;
    font-size: x-large !important;
    height: 2.5rem !important;
}


.RTL--name{
    font-size: small;
    margin: auto 0;
    color: #555;
    display: none;
}

.instruction.rtl-active .RTL--name{
    display: block;
    margin-left: auto;
}

.bin-assembeled{
    width: calc(100% - 2rem);
    margin: .2rem 1rem;
    background-color: #6cda86;
    padding: .1rem;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.element-wrap{
    position: relative;
}

.bin-label{
    position: absolute;
    top: .2rem; 
    left: .5rem; 
    padding: .2rem .5rem ;
    background-color: darkgreen;
    color: white;
    border-radius: 2rem;
}

.binary--text{
    height: 100%;
    overflow-y: scroll;
    border: 1px solid #888;
    border-radius: 1rem 0 0 1rem;
}
